body{
  background-color: aliceblue;
  height: auto;
}

main{
  display: flex;
  background-color: #0062ff;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

a{
  color: white;
}

footer{
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}