*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #434343;
}

header{
  background-color: #303030;
  color: #fff;
  font-size: 1.5em;
}

header p{
  text-align: center;
}

main div{
  display: flex;
  justify-content: center;
  align-items: center;
  border: #303030 2px solid;
  border-radius: 25px;
  margin: 10px;
  flex-direction: column;
  background-color: #fff;
}
main div h1{
  margin:5px
}

footer{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  font-size: 1.7rem;
  border-radius: 12px;
}

@media screen and (min-width:800px){
  main{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}