p{
  text-align: center;
}

body{
  margin: 0;
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

main div{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  flex-direction: column;
}
main div h1{
  margin:5px
}
