/* For Mobile devices only
      And this is NavBar and SideBar Section*/

*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
  background-image: url(realistic-blue-sky-background_1048-6707.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: sans-serif;
  scroll-behavior: smooth;
  max-width: 100%;
  min-width: 400px;
  overflow: auto;
}

nav{
  background-color: white;
  width: 100%;
  margin: 0px auto;
  overflow: hidden;
  position: fixed;
}

nav ul{
  width: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
}

nav li{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: auto;
  right: auto;
}

nav a {
  height: 100%;
  text-decoration: none;
  color: black;
  padding: 0 13px;
  display: flex;
  align-items: center;
}

nav a:hover{
  background-color: #f0f0f0;
  cursor: pointer;
}

nav li:first-child{
  margin-right: auto;
}

.sidebar{
  position: fixed;
  top:0;
  right: 0;
  height: 100vh;
  width: 400px;
  z-index: 999;
  background-color: #ffffff10;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0px 10px rgb(0,0,0,0.1);
  display:none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li{
  width: 100%;
}
.sidebar a:hover{
  background-color: #ffffff31;
}
.sidebar a{
  width: 100%;
}

/* This is for The text*/

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container1{
  margin-top: 75px;
}

main h1{
  text-align: center;
}

main p{
  text-align: center;
  padding-bottom: 20px;
  font-size: 1.5em;
}

main img {
  border: 3px solid black;
  margin-bottom: 100px;
}

footer{
  background-color: #0066ff;
  border: #002864 3px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100px ;
  flex-direction: column;
}

/* This is the Tablet section
   Navigation Bar will Remain Same*/

@media screen and (min-width:768px){
  body{
    min-width: 768px;
  }

  img{
    width: 470px;
  }

  h1{
    font-size: 2.5em;
  }

  p{
    font-size: 2em;
    margin-bottom: 5vh;
  }
}

@media screen and (min-width:1024px){
  body{
    min-width: 1024px;
  }
  main{
    width: 100%;
  }
  .container1{
    width: 100%;
    margin-top: 75px;
    padding-bottom: 25px;
  }
  .container2{
    margin: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .container2 div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p{
    font-size: 2.3em;
  }
}
